---
import ProjectCard from '../components/server/ProjectCard.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Projects">
	<div class="h-full overflow-scroll p-4 pt-16 flex items-center flex-col">
		<ProjectCard
			name="Hover Note"
			technologies={['React', 'TypeScript', 'Electron']}
			githubUrl="https://github.com/tcloma"
		/>
	</div>
</Layout>

<style></style>
