---
import LinkBtn from '../client/LinkBtn'
import { Icon } from 'astro-icon'
---

<header class="mb-8">
	<h1 class="text-3xl font-extrabold text-base-content">Tyrone Cloma</h1>
	<h2 class="text-lg text-neutral">Full Stack Developer</h2>
</header>

<article class="mb-8 flex flex-col gap-8 tracking-tight text-base-content">
	<p>
		Full Stack Developer with a passion for creating efficient and engaging
		applications. Experienced in JavaScript with React for creating responsive
		user interfaces, and Ruby on Rails for producing RESTful APIs.
	</p>

	<p>
		A self-starter that possesses strong skills in collaboration,
		resourcefulness, and an eagerness to learn that helps companies create
		innovative solutions for their clients.
	</p>
</article>

<footer class="flex gap-2">
	<LinkBtn
		client:load
		name="LinkedIn"
		styles="btn-sm bg-[#0077b5] text-white hover:scale-105"
		link="https://www.linkedin.com/in/tyronecloma/"
	>
		<Icon name="mdi:linkedin" class="h-6 w-6" />
	</LinkBtn>
	<LinkBtn
		client:load
		name="GitHub"
		styles="btn-sm bg-[#333] text-white hover:scale-105"
		link="https://github.com/tcloma"
	>
		<Icon name="mdi:github" class="h-6 w-6" />
	</LinkBtn>
	<LinkBtn
		client:load
		name="Resume"
		styles="btn-sm hover:scale-105"
		link="/data/Tyrone_Cloma_Resume.pdf"
	>
		<Icon name="fe:document" class="h-6 w-6" />
	</LinkBtn>
</footer>
