<h1 class="text-3xl font-extrabold text-base-content">Tyrone Cloma</h1>
<h2 class="mb-8 text-lg text-neutral">Full Stack Developer</h2>

<p class="mb-8 text-base-content">
	Full Stack Developer with a passion for creating efficient and engaging
	applications. Experienced in JavaScript with React for creating responsive
	user interfaces, and Ruby on Rails for producing RESTful APIs.
</p>

<p class="mb-8 text-base-content">
	A self-starter that possesses strong skills in collaboration, resourcefulness,
	and an eagerness to learn that helps companies create innovative solutions for
	their clients.
</p>

<div>
	<button
		class="btn-md btn rounded-md border-none bg-neutral text-neutral-content normal-case"
		>LinkedIn</button
	>
	<button
		class="btn-md btn rounded-md border-none bg-neutral text-neutral-content normal-case"
		>GitHub</button
	>
</div>
