<h1 class="text-3xl font-extrabold">Tyrone Cloma</h1>
<h2 class="mb-8 text-lg text-gray-500">Full Stack Developer</h2>

<p class="mb-8">
	Full Stack Developer with a passion for creating efficient and engaging
	applications. Experienced in JavaScript with React for creating responsive
	user interfaces, and Ruby on Rails for producing RESTful APIs.
</p>

<p class="mb-8">
	A self-starter that possesses strong skills in collaboration, resourcefulness,
	and an eagerness to learn that helps companies create innovative solutions for
	their clients.
</p>

<div>
	<button
		class="btn-square btn rounded-md border-none bg-black text-white hover:scale-105 hover:"
		>F</button
	>
	<button
		class="btn-square btn rounded-md border-none bg-black text-white hover:scale-105"
		>F</button
	>
	<button
		class="btn-square btn rounded-md border-none bg-black text-white hover:scale-105"
		>F</button
	>
	<button
		class="btn-square btn rounded-md border-none bg-black text-white hover:scale-105"
		>F</button
	>
</div>
