---
import NavBtn from './NavBtn.astro'
---

<!-- 
    Center Nav
    left-1/2 translate-x-[-50%]
-->
<nav class="navbar fixed justify-between border-b-2 border-black px-8 py-0">
	<h1 class="text-xl font-bold">tcloma</h1>
	<div class="flex">
		<NavBtn name="home" />
		<NavBtn name="projects" />
		<NavBtn name="blog" />
		<NavBtn name="contact" />
	</div>
</nav>
