---
import NavBtn from './NavBtn.astro'
---

<nav
	class="absolute left-1/2 flex w-[95%] translate-x-[-50%] justify-between p-0"
>
	<!-- <NavBtn name="home" /> -->
	<NavBtn name="projects" />
	<NavBtn name="blog" />
	<NavBtn name="contact" />
</nav>
