---
import NavBtn from './NavBtn.astro'
---

<nav class="fixed border-2 w-full left-1/2 translate-[-50%] flex justify-between p-2">
	<!-- <NavBtn name="home" /> -->
	<NavBtn name="projects" />
	<NavBtn name="blog" />
	<NavBtn name="contact" />
</nav>
