---
import NavBtn from './NavBtn.astro'
---

	<nav class="navbar justify-center gap-2">
		<NavBtn name="home" />
		<NavBtn name="projects" />
		<NavBtn name="blog" />
		<NavBtn name="contact" />
	</nav>
